<form action="/search" method="get">
  <div>
    <label for="searchQuery">Search:</label>
    <input type="text" id="searchQuery" name="q" autocomplete="off" />
    <button type="submit">Go!</button>
  </div>
</form>
<% if (q) { %>
<h2>Search results for "<%= q %>":</h2>
<table border="1">
  <tr>
    <th>UPC</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Qty</th>
  </tr>
  <% data.forEach(entry => { %>
  <tr>
    <td><%= entry.upc %></td>
    <td><%= entry.name %></td>
    <td><%= entry.brand %></td>
    <td><%= entry.price %></td>
    <td><%= entry.qty %></td>
  </tr>
  <% }) %>
</table>
<% } %>